[2016-11-11 16:07] samvloeberghs opened #1 "please bundle for webpack"

[2016-11-15 11:13] inzerceubytovani opened #2 "support AOT"
During compilation to AOT appears following error:

`Error: Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function...`

[2016-11-15 11:33] fulls1z3 commented on #2
Hi, can you please tell me about your environment (angular version, etc) and the relevant code sample to reproduce the problem? In this case I'll be able to observe where the AoT exactly fails at.

Thanks!

[2016-11-15 11:35] fulls1z3 commented on #1
Hi Sam, I'm a bit new to webpack. However, I'll investigate this and try to provide a bundle for webpack in the next release. Meantime, I'll be open to any kind of co-operation.

Thanks!

[2016-11-15 13:34] inzerceubytovani commented on #2
Using angular 2.1.2

In app.module.ts:

`import { MetadataModule } from 'ng2-metadata';
`
`imports: [MetadataModule.forRoot()]`

Generate posted error.

With this tsconfig.aot.json:

`{"compilerOptions": {
    "target": "es5",
    "module": "es2015",
    "moduleResolution": "node",
    "sourceMap": true,
    "outDir": "dist/aot-build",
    "emitDecoratorMetadata": true,
    "experimentalDecorators

[2016-11-15 16:10] fulls1z3 commented on #2
Thanks for the information you've shared. I looked for the similar issues Google, and thinking about two possible causes.

One of the possible causes is that the plugin is currently missing the metadata json files - can be fixed by adding metadata json files.

In order to investigate the second possible cause (and ofc to provide a permanent solution to this issue) I'll need your help. Can you plea

[2016-11-15 16:22] inzerceubytovani commented on #2
Calling with this parametr results in same error.

Yes, I think Metadata json files are required for AOT compilaton.

[2016-11-16 18:10] fulls1z3 commented on #2
I analyzed the issue in-depth, and got successful with producing a reliable solution. Just uploaded to the **master** branch the updated package with generated metadata.json files.

Can you please download the latest package (the master branch) and test it on your side, and let me know about the results?

If successful, I'll publish the new release.

Thanks!

[2016-11-17 11:07] fulls1z3 commented on #2
Fixed in 1.2.0

[2016-11-18 13:08] shaneog commented on #2
This error is still happening for me with v1.2.1

[2016-11-18 13:27] fulls1z3 commented on #2
Hi, thanks for your report. Successfully identified the source of the issue. It's all about the path difference between bunded d.ts and metatada.json.

I'll update the package as 1.2.2 in a few minutes. And then let's test it together.

[2016-11-18 16:40] fulls1z3 commented on #2
Fix published, please re-install the ng2-metadata 1.2.2 from npm and it should work without issues.

[2016-11-18 17:30] shaneog commented on #2
I'm getting a slightly different error now:

[2016-11-18 17:45] fulls1z3 commented on #2
I know in AoT such errors might occur... Let's make a try:

[code]

And please let me know about how did it run.

[2016-11-18 19:25] shaneog commented on #2
I'm afraid not, same error.

[2016-11-18 19:30] fulls1z3 commented on #2
Do you import from the bundled umd.min.js file, or from individual .js files?

[2016-11-18 19:32] shaneog commented on #2
I'm not using SystemJS - I'm using angular-cli (Latest version), _so however it deals with it._

[2016-11-18 19:58] fulls1z3 commented on #2
Actually I also decided to move from SystemJS to angular-cli, in this case I'll need to accelerate the transition phase.

Can you please provide me a little more information about your environment? In that case, do you use Webpack or JSPM, or another loader?

It might be helpful if you can give me more hints about your environment, so I'll come up with a more reliable solution.

Thanks!

[2016-11-18 20:02] shaneog commented on #2
`angular-cli` uses Webpack in the background, but the implementation is hidden from the user.
I highly recommend using it since it is the recommended way to start a new Angular 2 project now.

My app is using AoT, and few third party component (because of AoT support).

To build my app (which is where I am getting the error) I use the command: `ng build -prod --aot`

I will try to put a small PoC

[2016-11-18 20:05] fulls1z3 commented on #2
That would be great, and I'll work on transition from SystemJS/JiT to Webpack/AoT meantime. Just write me when you'll have been uploaded the PoC project, so that I can try to test the changes on it.

[2016-11-19 07:24] fulls1z3 commented on #2
Meantime, can you please try to compile your app using the latest commit in master branch? I made some fixes which were causing semantic errors during JiT compilation.

[2016-11-21 12:34] fulls1z3 commented on #1
Hi, are we talking about the following issue?

[code]

[2016-11-21 14:07] samvloeberghs commented on #1
@fulls1z3 no, just checkout other repo's like ng2-translate and how they are delivering their package :)
thanks for your effort. Please keep in mind that this package as for now is useless.. Unless you run it on the server. No time to elaborate on it now, but look into Universal, you'll get it!

[2016-11-21 14:17] fulls1z3 commented on #1
Hi Sam, thanks for your comments. Despite I was new to webpack (fortunately now not), I am sharing the same thoughts, that the package is useless unless it successfully compiles on AoT and bundled with webpack.

Today, I was looking at the same repo (ng2-translate) as well as others (ng2-bootstrap, etc.) and I'm about to deliver the package in the same way as ng2-translate does (webpack bundle).

[2016-11-21 14:26] samvloeberghs commented on #1
@fulls1z3 it has nothing to do with aot, it's just that metadata is only usefull / indexable by all search engines / social providers if the HTML is rendered on the server. This will only work for Google's search engine, that is able to crawl heavy javascript applications.

[2016-11-21 14:37] fulls1z3 commented on #1
@samvloeberghs thanks again for your comments. I'm aware that the metadata generated by this package is "dynamic" - cannot be indexed any search engines except Google, and also it's not introduced as a replacement of server-side solution to render meta tags.

Furthermore, for a complete SEO, other page elements (as well as page contents) should be rendered on the server as well (yeah - angular uni

[2016-11-21 14:37] #1 closed, assigned to fulls1z3

[2016-11-22 17:38] #2 closed, assigned to fulls1z3

[2016-11-22 18:02] shaneog commented on #2
Sorry about not replying - been a bit busy getting app ready for launch.

I've tried to compile using the latest version and I receive this message:
[code]

[2016-11-22 18:05] fulls1z3 commented on #2
there is no message in your comnent :)

[2016-11-22 18:08] shaneog commented on #2
Sorry, mistyped. It's there now!

[2016-11-22 18:10] fulls1z3 commented on #2
try to delete project_dir/node_modules/ng2-metadata/node_modules

[2016-11-22 18:20] shaneog commented on #2
No luck.

Full error message:
[code]

[2016-11-23 06:41] fulls1z3 commented on #2
I see. I have tested the package using JiT and AoT compilation (using ngc) both with SystemJS and Webpack. However, `angular-cli` was tested. The `Unexpected value '[object Object]' imported by the module 'AppModule'` was happening when `node_modules` directory under ng2-metadata was generated (by editing the package.json within the IDE) and it automatically downloads the dependencies.

In that ca

[2016-12-08 18:30] Iraecio opened #3 "readme"
...
import { MetadataLoader, MetadataStaticLoader, PageTitlePositioning, MetadataService } from 'ng2-metadata';
...

Need import MetadataModule.

[2016-12-08 18:33] fulls1z3 commented on #3
Thanks @Iraecio readme.md is up-to-date now :)

[2016-12-08 18:33] #3 closed, assigned to fulls1z3

[2016-12-09 16:10] mgritcan opened #4 "setting og-tags"
**I'm submitting a ...**  (check one with "x")
[code]
Hi,
Sorry, I am not going to declare an issue, just a question (Don't know how to ask you about in other ways)

Can you tell me please, would this module help me to set og-tags (og:image , og:description, og:title) in such a way that facebook crawler (bot) will be able to scrape (read) these og-tags from the Shared URL , or the module is able t

[2016-12-10 14:21] fulls1z3 commented on #4
Hi @meorfi,

Thanks for your interest in `ng2-metadata`.

You can use the **`setTag`** method to dynamically create meta tags, as well as you can define metadata right at the route definitions.

`og: title` and `og:description` are automatically duplicated using values from `meta title` and `meta description`.

In order to dynamically create any other **og tag**, you can use the following syntax w

[2016-12-10 14:22] #4 closed, assigned to nobody

[2016-12-12 07:29] mgritcan commented on #4
Hello @fulls1z3 ,
Thank you for answer!

[2016-12-12 14:19] BenoitBruy opened #5 "source metadata not changing ?"
Hi,

I've just installed the ng2-metadata package really easily.
Thanks for your work !

I checked the metadata in my head element and everything is fine.
The problem is in my source code, the metadata are the default one..

It is an expected behaviour ?

[2016-12-12 14:32] fulls1z3 commented on #5
Hi @BenoitBruy,

Thanks for your interest in `ng2-metadata`.

Actually the information you provided is quite limited, but if I understood correctly you're checking the changes on both **view page source** and **developer tools/console**.

`ng2-metadata` does not change source, it manipulates the head elements during runtime. I think that's the reason why you're not seeing changes in the source but

[2016-12-12 14:32] #5 closed, assigned to nobody

[2016-12-12 14:35] BenoitBruy commented on #5
Thanks for your answer @fulls1z3

Yeah this is exactly what I mean.

Do you know how to change the balise in the source code by the way ?

Because, this is the aim of editing metada dynamically, isn't it ?
When I share something from my website, anything is dynamic..

[2016-12-12 15:01] BenoitBruy opened #6 "warning found"
Hi again !

I'm using the MetadataStaticLoader.

[code]

I've got this warning in my angular 2 webpack app with ng2-metadata. Do I have miss something ?
I'm in dev mod.

[code]

[2016-12-12 15:12] fulls1z3 commented on #6
Hi again, PageTitlePositioning should be imported together with MetadataStaticLoader, MetadataLoader and MetadataModule.

Also, can you please post your source code here (better via plunkr), so that I can have some in-depth analysis?

[2016-12-13 12:43] #6 closed, assigned to nobody

[2016-12-13 15:30] BenoitBruy commented on #6
This has been imported.

`import {MetadataModule, MetadataStaticLoader, PageTitlePositioning, MetadataLoader} from 'ng2-metadata';`

![image](https://cloud.githubusercontent.com/assets/16610931/21146278/694ac32e-c151-11e6-86e3-186e92937a29.png)

[2016-12-13 18:22] fulls1z3 commented on #6
In this case I need more details related to your app. Can you please tell me what is the webpack, and angular version that you're trying to compile the app with?

And also, I'll need you to provide the part your source code via plunkr.

[2016-12-16 10:26] BenoitBruy commented on #6
We are using angular 2.1.0. And webpack 2.1.0-beta22.

Regards

[2016-12-16 10:28] fulls1z3 commented on #6
Can you please post me your typescript version, and contents of tsconfig.json?

[2016-12-16 10:29] BenoitBruy commented on #6
Sure Typescript 2.0.3.

Here is tsconfig.json:

`{
    "compileOnSave": false,
    "buildOnSave": false,
    "atom": { "rewriteTsconfig": false },
    "compilerOptions": {
        "declaration": false,
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "mapRoot": "/",
        "module": "es2015",
        "moduleResolution": "node",
        "noEmitOnError": true,

[2016-12-16 10:48] fulls1z3 commented on #6
Ok, thanks for your immediate feedback.

According to your environment and ts config, It's difficult to say it might happen because of environment configuration.

Here we have **Visual Studio 2015 (Update 3)** and use **TS 2.0.10**, **@angular 2.2.4**, **webpack 2.1.0-beta27** and **awesome-typescript-loader 3.0.0-beta.17**; but it was even possible to get this package running with lower **@angula

[2016-12-16 10:50] BenoitBruy commented on #6
Thanks for your answer !

I've got as well the prediction in my IDE JetBrains. That's why, it is running basically, just got a warning in dev mode..

Maybe, updating our package will fix the issue.

I'll keep you up to date.

Thanks.

[2016-12-22 12:34] aegyed91 opened #7 "combine with ng2-translate"
**I'm submitting a ...**  (check one with "x")
[code]

Hi, I want to combine ng2-metadata with [ng2-translate](https://github.com/ocombe/ng2-translate). Their [TranslateService](https://github.com/ocombe/ng2-translate#translateservice)`#get(key: string|Array<string>, interpolateParams?: Object): Observable<string|Object>` is async. What i came up with is a `MetadataResole` class that looks like th

[2016-12-22 13:36] fulls1z3 commented on #7
Hi @tsm91.

Actually combining ng2-metadata with ng2-translate is already in the roadmap, and soon will PR the results on [angular-seed-advanced](https://github.com/NathanWalker/angular-seed-advanced/) repository.

However we're currently working on upgrading to angular 2.4.x, fixing other dependencies and testing the upgrade.

I think I can provide a more elegant way and soon share the results. S

[2016-12-22 13:40] aegyed91 commented on #7
Cool! Thx for the fast reply, will keep an eye on this project.

[2016-12-23 16:26] JochemKuijpers opened #8 "compile errors when using AOT compiling with ng2-metadata"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I currently using the module as follows:

	import {NgModule} from '@angular/core';
	//...
	import {AppRoutes} from './app.routes';
	import {MetadataModule} from 'ng2-metadata';

	@NgModule({
	    declarations: [
	//...
	    ],
	    imports: [
	//...
		RouterModule.forRoot(AppRoutes),
		MetadataModule.forRoot()
	//...

[2016-12-23 18:09] fulls1z3 commented on #8
Hi @JochemKuijpers,

First of all I'd like to thank you for all the detailed information above, and also for accelerating testing of **ng2-metadata**: I was actually planning to test it nowadays using the latest **angular (2.4.1)** at the moment - so you gave me a chance for it :)

I cloned your repo **derp**, performed an `npm install`, ran `ng build --aot`, and I also got some compile errors, si

[2016-12-27 10:42] JochemKuijpers commented on #8
I've adapted my project and copied the versions from the `package.json` in your zip archive. This indeed fixes the compiling error. Thanks, my issue is now resolved.

[2016-12-27 10:42] #8 closed, assigned to nobody

[2017-01-02 20:13] masaanli opened #9 "facebook for example cannot read the OG Tags"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

Facebook is not recognising the settee OGP tags.

**Minimal reproduction of the problem with instructions**

Tried already some stuff but did not get it to work, like adding this to my head tag `<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

[2017-01-05 12:51] fulls1z3 commented on #9
Hi @masaanli

Thanks for your interest in `ng2-metadata`, and sorry for the late reply.

As mentioned in #4:

Please check the README and search github for a similar issue or PR before submitting.

[2017-01-05 12:51] #9 closed, assigned to nobody

[2017-01-07 22:03] markoddi01 opened #10 "doesnt seem to work with lazy load routes e.g. loaded Children"
Doesnt seem to work with lazy load routes e.g. loaded Children.

Eg:
{path: 'createJob', loadChildren: 'app/components/createJob/createJob.module#CreateJobModule'},

Google still picks up the homepage only.

[2017-01-09 08:30] fulls1z3 commented on #10
Hi @markoddi01,

Can you please give more details about your problem?

[2017-01-11 15:13] jcdsr opened #11 "view page source"
If I check a page as "View page source" the title is the original from the main index.html and the description is empty. However, if I inspect the page, the title and the description will load the data as in the component in the inspector. However, I'm not sure after the page is crawled will read the correct title and description, because seems injected instead of rendered.

Is there a solution fo

[2017-01-11 15:23] #10 closed, assigned to nobody

[2017-01-11 15:25] fulls1z3 commented on #11
Hi @carlosdv4

Thanks for your interest in `ng2-metadata`.

As mentioned in #4:

And in #5:

Please check the README and search github for a similar issue or PR before submitting.

[2017-01-11 15:25] #11 closed, assigned to nobody

[2017-01-22 09:55] A50 opened #12 "cannot read property 'Injectable' of undefined"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.4.4

* **Browser:** [all ]

* **Language:** [TypeScript 2.1.5]

* **Node (for AoT issues):** `node

[2017-01-23 20:15] fulls1z3 commented on #12
Hi @A50, thanks for your interest on `ng2-metadata`.

First of all, I'd like to say that there's too little information regarding to the problem you've faced. Based on the information you provided, I can say that `ng2-metadata` is tested on TypeScript 2.0.10, and it's known that angular has issues on a higher version of TypeScript than 2.0.10.

But I don't think it can cause this problem. It would

[2017-01-26 09:33] A50 commented on #12
It is possible that there are problems with the import / export module

piece of code:
[code]

error on 241 ->
` t = l([a.i(i.Injectable)(), d(1, a.i(i.Inject)(r.DOCUMENT)), c("design:paramtypes", [n.Router, Object, r.Title, n.ActivatedRoute, f])], t)`

piece of code:
[code]

[2017-01-26 18:09] kodeine commented on #4
@fulls1z3
Any idea if Facebook crawler can now read the meta tags set by, `metadata.setTag('og:something', 'some value');`

[2017-01-27 05:52] kodeine opened #13 "meta data readable by Facebook/Twitter?"
Can facebook/twitter bots read meta data as of now with latest angular i see the [meta service introduced](https://github.com/angular/angular/pull/12322).

[2017-02-02 12:58] Chuvisco88 commented on #7
Any updates on this?

[2017-02-02 13:00] fulls1z3 commented on #7
Hi @Chuvisco88, working on a localized-router which supports lazy-loaded route names to be translated. After this, i'm going to move all libraries (ng2-config, ng2-metadata, ng2-webapi, ng2-auth and ng2-localized-router) under @nglibs scope on npm.

In the meantime, I'm working on a quickstart package which includes all @nglibs utilities and demonstrates their usage.

Stay tuned, lots of more is c

[2017-02-02 13:02] Chuvisco88 commented on #7
@fulls1z3 you might look into https://github.com/meeroslav/localize-router as this is already a solution for localized routing. Might help :)

[2017-02-02 13:04] fulls1z3 commented on #7
@Chuvisco88 I used it already, however it doesn't work with lazy-loaded routes (as discussed on [#3](https://github.com/Greentube/localize-router/issues/3)).

[2017-02-02 14:37] fulls1z3 commented on #13
Yeah I've also noticed that meta service has been introduced by Angular. However, it only contains a small subset of `ng2-metadata` utility.

About facebook/twitter bots, there's still no remarkable update.

[2017-02-02 14:38] #13 closed, assigned to nobody

[2017-02-02 14:38] #12 closed, assigned to nobody

[2017-02-08 10:14] fulls1z3 commented on #1
Hi @tsm91, first of all thanks for your interest on `@nglib/metadata`. It seems that you're the first one who's got the lucky with the new lib :)

As the log says, the error caused by a missing reference; `tslib`.

I've introduced it with **TypeScript 2.1.x** upgrade, it basically replaces replaces the previous `ts-helpers` (which was used together with `ng2-metadata` which was compiling on **Type

[2017-02-10 06:53] giaule opened #14 "dynamic og:title angular2"
Dear support,

When i using browser that very google (show title), but i using share link facebook, this can't read metadata my site.

Please help me,
Thanks.

[2017-02-13 12:43] Chuvisco88 commented on #14
Hi @giaule

I understand it that you want to copy your url to Facebook for sharing and don't get the meta.
If this is the case the reason is that Facebook is calling the url and directly reads the meta and does not wait until the meta data is initialised by the module as this happens asynchronously.

Probably the maintainer can you provide with more infos, but regarding the initialisation, the onl

[2017-02-13 13:28] Chuvisco88 commented on #7
@fulls1z3 I replaced ng2-meta with this repo for now. Really looking forward to translated meta tags. Keep it up 👍

[2017-02-13 13:35] fulls1z3 commented on #7
Hi @Chuvisco88, I'm currently working on fixes with [@nglibs/i18n-router](https://github.com/nglibs/i18n-router) (angular-cli capabilities). Soon, a loader (probably named as `MetadataTranslateLoader` will be published.

[2017-02-13 13:39] fulls1z3 commented on #14
Hi @giaule

Thanks for your interest in `ng2-metadata`, and sorry for the late reply.

As mentioned in #4:

As @Chuvisco88 said, currently it seems possible thru server-side rendering.

[2017-02-13 13:39] #14 closed, assigned to nobody

[2017-02-14 03:22] giaule commented on #14
Dear support,

So i need to build a server site for this function.

Thanks support.

[2017-02-23 19:27] fulls1z3 opened #15 "no page title & meta tags set when route contains no `meta`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta does not use the default page title when you start the Angular app on a route which does not contain `meta` property in route definitions.

**Expected/desired behavior**
The default page title and other meta tags must be displayed/rendered.

**Minimal reproduction of the problem with instructions**

**What is

[2017-02-23 22:08] aegyed91 opened #16 "no .js files after installing from npm's registry"
Hey again @fulls1z3, sorry i deleted the issue template

so today i wanted to give another shot to the new meta lib (still using your old one 💃 ), but now i ran into another weird problem.

Check this screenshot: http://imgur.com/a/i8Vcs

There is no `*.js` or `*.ts` file under `./node_modules/@nglibs/meta` . Something fishy must be going on in the `.npmignore` or in the build process.

the latest

[2017-02-23 22:13] fulls1z3 commented on #16
Hi @tsm91, gonna fix that as a first thing in the morning with 0.2.0-rc.3, and sorry for the inconvience :(

[2017-02-23 22:44] aegyed91 commented on #16
np, will try again next time :D

[2017-02-24 12:11] fulls1z3 opened #17 "og:url doesn't get rendered correctly using redirectTo"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta renders og:url of the redirection origin.

**Expected/desired behavior**
The url of redirected destination must be rendered.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular vers

[2017-02-24 15:06] #15 closed, assigned to fulls1z3

[2017-02-24 15:06] #17 closed, assigned to fulls1z3

[2017-02-24 15:14] fulls1z3 commented on #16
@nglibs/meta v0.2.0-rc.3 has been published, you can enjoy it ;)

[2017-02-24 15:14] #16 closed, assigned to fulls1z3

[2017-02-24 15:41] fulls1z3 commented on #16
Meanwhile, you can have a look at the [example-app](https://github.com/nglibs/example-app), demonstrating use of all @nglibs utils.

[2017-02-24 20:02] fulls1z3 opened #18 "og:locale insists to remain default when @nglibs/i18n-router is used"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta does renders the default `og:locale` when [@nglibs/i18n-router](https://github.com/nglibs/i18n-router) is used.

**Expected/desired behavior**
Given `og:locale` must be rendered.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Plea

[2017-02-25 15:00] fulls1z3 opened #19 "support for multiple `og` properties with the same key"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta does support multiple `og` properties with the same key.

**Expected/desired behavior**
It should support multiple `og` properties with the same key.

For example:
[code]

Could have been provided by @nglibs/meta

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case fo

[2017-02-25 15:24] fulls1z3 opened #20 "server-side rendering (universal) compability"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Nor by viewing the page source, neither by sharing the page on facebook/twitter/etc, the dynamically generated meta tags by @nglibs/meta are revealed. These meta tags can only be viewed using developer tools on the browser.

**Expected/desired behavior**
Dynamically generated meta tags should be visible on the page source,

[2017-02-25 16:44] #18 closed, assigned to fulls1z3

[2017-02-25 21:08] fulls1z3 opened #21 "depend on Angular 2.0.0"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta depends on Angular 2.4.0

**Expected/desired behavior**
It should depend on Angular 2.0.0

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all |

[2017-02-25 21:38] #21 closed, assigned to fulls1z3

[2017-02-27 18:36] bouchepat opened #22 "new npm package @nglibs/meta no longer update title programmatically"
[code]

**Current behavior**
I recently upgraded the package from @nglibs/metadata to @nglibs/meta: the following issues have been noticed:

- metaFactory defined and used in AppModule: **only** the title won't update if set programmatically. Title remains the default set from the factory.
- metaFactory not used in AppModule: title, description or other tags will not update programmatically.
- met

[2017-02-28 20:10] fulls1z3 commented on #22
Hi @bouchepat, I've recently changed the behavior of @nglibs/meta by using the default values when no meta information supplied for a specific route, but it seems it needs to be checked further.

I could just find an opportunity to review this issue, soon I'll analyze it and come back with results.

[2017-03-02 14:05] fulls1z3 opened #23 "setting og:locale tag without specifying default og:locale throws error"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta throws error while setting `og:locale` tag without specifying default `og:locale` at the loader settings.

**Expected/desired behavior**
Given `og:locale` must be rendered without `defaults` and without default `og:locale` at the loader settings.

**Minimal reproduction of the problem with instructions**

**Wh

[2017-03-02 17:23] ghost opened #24 "can't setTitle() from .component"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Only `setTag()` works on a component. `setTitle()` doesn't set any title, even if `true` is added as a second parameter. It simply ignores, and fallbacks to the default title set in `app.module`.

**Expected/desired behavior**

Being able to set the title from a component.

**Minimal reproduction of the problem with instr

[2017-03-02 17:39] ghost commented on #24
Just realised there was the same issue on [vinaygopinath/ng2-meta issue #7](https://github.com/vinaygopinath/ng2-meta/issues/7). The trick is to use setTimeout as it follows:
[code]
However, I don't fully understand what's happening. Is the setTitle() waiting for a request to end?
Should this behaviour be changed?

Sorry for any confusion.

[2017-03-02 18:29] fulls1z3 commented on #24
Hi @zM4J8ksETHCq, it's OK to open issues. Actually it's a great contribution to development of this utility.

However, this issue seems to be duplicate of #22, and I'm closing it. You can track current status on #22.

[2017-03-02 18:29] #24 closed, assigned to fulls1z3

[2017-03-02 18:58] #23 closed, assigned to fulls1z3

[2017-03-03 20:45] fulls1z3 commented on #22
Hi @bouchepat, finally I found some time to analyze this issue and made some remarks:

When `metaFactory` is not used, `title` did not update programmatically. I've fixed this, and publish after when all tests are OK. However, `description `(and other tags) were updated. With the next update, I'll double check this failure and it would be nice if we could share our results then.

Did not test this

[2017-03-06 13:43] fulls1z3 commented on #22
Hi @bouchepat, finally I've finished tasks with the issue. I have several remarks according to the steps to reproduce:

When `metaFactory` is not used;
- `title` does not update programmatically: It has been **fixed**.
- `description` and other tags do not update programmatically: **they do**, no need to fix.

- only the `title` does not update programmatically: **No**, `description` and other tag

[2017-03-06 14:19] #22 closed, assigned to fulls1z3

[2017-03-07 09:14] fulls1z3 commented on #7
Hi @tsm91, @Chuvisco88.

I know it's been quite long time, but I've been busy with other projects as well as resolving issues with higher priority. I've succeeded developing a loader which uses the `TranslateService` and refactoring @nglibs/meta to use observables.

Currently writing unit tests. I think within a day or two, this feature will be OK and included by rc.4.

[2017-03-09 19:42] rannaot commented on #24
Can you make a release with this issue solved?

[2017-03-13 19:35] fulls1z3 commented on #7
Finally committed the changes. Some more tasks with instructions and gonna be released asap.

[2017-03-13 19:35] #7 closed, assigned to fulls1z3

[2017-03-14 14:58] fulls1z3 commented on #24
https://github.com/nglibs/meta/releases/tag/v0.2.0-rc.4

[2017-03-14 15:04] fulls1z3 commented on #7
Released, you can install it via npm. Also, check the documentation and [@nglibs/example-app](https://github.com/nglibs/example-app) for in-depth examples.

[2017-03-15 09:37] fulls1z3 opened #25 "support Promises at the `callback` function"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta does not support passing `callback` function with `Promise` return type.

**Expected/desired behavior**
It should support `Promise` as a valid return type.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your e

[2017-03-16 07:53] fulls1z3 opened #26 "use gutil instead of console in gulp tasks"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
During code review, `console` seems as an unexpected statement.

**Expected/desired behavior**
`console` should be replaced by `gutil`.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular versio

[2017-03-16 08:52] chrillewoodz commented on #22
So is this fixed? Because I'm finding that I can't set metadata through router nor programmatically..

[2017-03-16 09:03] chrillewoodz opened #27 "cannot set data programmatically when the string contains a variable inside a subscription method"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I'm doing this:

    this.metadata.setTitle('Blog - ' + this.post.title);
    this.metadata.setTag('og:description', `Blog - ${this.post.title}`);

But only the `Blog - ` part gets set, the rest is just gone. I've checked a number of times and the value is not null, undefined or anything like that. Because it shows fine i

[2017-03-16 09:06] fulls1z3 commented on #22
Hi @chrillewoodz, could you please provide more information about your problem - or it's already written in the issue #27?

[2017-03-16 09:29] chrillewoodz commented on #27
I'm not sure if it's worth noting but it's inside a subscription call and it can run several times. When I do a test like this outside the subscription call it works as expected:

    const hello: string = 'Hello world';

    this.metadata.setTitle('Blog - ' + hello);

[2017-03-16 09:31] chrillewoodz commented on #22
It's in issue 27. I can't wrap my head around why it wouldn't be working.

[2017-03-16 09:31] fulls1z3 commented on #27
Hi @chrillewoodz, thanks for your inspections.

I’ll look into this as soon as possible and then pingback on this issue my findings.

[2017-03-16 09:32] fulls1z3 commented on #22
Thanks @chrillewoodz, I wrote on #27 that I'll analyze this asap.

[2017-03-16 09:43] chrillewoodz opened #28 "refreshing page doesn't set the title or description that's defined in the router"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
If I go from page 1 to page 2, the metas are set correctly, but if I go from page 1 to page 2 and then refresh on page 2, page 2's metas aren't being set.

**Expected/desired behavior**
I expect the page 2's metas to be set on refresh as well.

**Minimal reproduction of the problem with instructions**
See current behavior.

[2017-03-16 09:56] chrillewoodz commented on #28
I can see the same issue in the deprecated ng2-metadata repo, but then when you start navigating again it's not updating anything. You need to go back to the top route and then go down the tree again and it will set whatever is defined in the router. There must be something wrong with the way you listen to router events.

[2017-03-16 10:02] fulls1z3 commented on #28
Hi @chrillewoodz, there was in issue #15 which prevented the default meta settings to be rendered on views without meta settings in its route definitions. That's why the deprecated ng2-metadata does not update anything. This behavior has been changed since the rc.4 release of @nglibs/meta. However, I see that we need to make improvisations.

I'll analyze this issue as well as #27 at a first availa

[2017-03-16 11:16] chrillewoodz opened #29 "metas set only via the router definition does not get crawled correctly by facebook, while the programmatically set does"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
So this is a bit of a weird one, but it appears that any metas set via the router definition does not get crawled, despite them being set and appearing in the html. If I set them programmatically, they work.

**Expected/desired behavior**
Regardless of how you define the metas the crawler should be able to read them proper

[2017-03-16 11:25] chrillewoodz commented on #4
This does not seem to be the case, how would you explain that the dynamically set ones are read perfectly fine then?

[2017-03-16 11:25] fulls1z3 commented on #29
Hi @chrillewoodz, this is a known issue and also duplicate of #9, #11, #13, #14.

As mentioned in #4, cannot be solved with client-side techniques.

It is aimed in rc.5 to use @angular/universal to dynamically re-render each request. You can track the status on #20.

I'm closing this issue both the reasons it's a duplicate and tracked on #20.

[2017-03-16 11:25] #29 closed, assigned to nobody

[2017-03-16 12:15] chrillewoodz commented on #4
@kodeine This does seem to be the case, but I do not understand why that one works but the static ones doesn't.

@fulls1z3 Can you explain?

[2017-03-16 12:18] fulls1z3 commented on #4
@chrillewoodz have a look at @angular/universal docs, you can find there in-depth information and the necessity to create server-side re-rendering.

[2017-03-16 12:19] chrillewoodz commented on #4
@fulls1z3 That's not the issue here, and universal is not available in the CLI at this point so I can't do that unfortunately. I've tried for the last 4 months. The issue is that by setting tags with setTag function it works but when you define via router definition it doesn't. Are you doing anything differently when you apply the tags?

[2017-03-16 12:21] fulls1z3 commented on #4
Sorry @chrillewoodz but that's not the topic of **this issue**, let's please discuss it under the appropriate one.

[2017-03-16 12:23] chrillewoodz commented on #4
@fulls1z3 Which is?

[2017-03-16 12:32] fulls1z3 commented on #4
This issue is about the readability of meta tags generated by @nglibs/meta on Google crawler and Facebook crawler which uses different technologies.

Google crawler is configured to read meta tags generated on client-side (ex: Angular). However Facebook crawler (and many other such crawlers) do not have such a function **yet**. To cope with this, the idea of angular-universal had born, and been de

[2017-03-16 12:38] chrillewoodz commented on #4
@fulls1z3 Then my point is totally related to this topic. Metas set via `setTag` on client side can be read by Facebook without any problems. But if the same meta is set in the router definition, Facebook cannot read that. So no server-side rendering is needed when using `setTag`, but when setting via the router definition, it seems to be needed. I'm confused as to why the methods gives different

[2017-03-16 12:52] fulls1z3 commented on #4
The meta tags provided in route definitions are rendered when Angular fires the `NavigationEnd` event, because the url after redirects can only be retrieved then. However, invoking `setTitle`/`setTag` does render them immediately. That's why it shows different behaviours on these two different methods.

Earlier, Facebook crawler did not process immediate rendering, but it seems they made some prog

[2017-03-16 13:06] chrillewoodz commented on #4
Ok then I understand better. Perhaps you can call the methods on NavigationEnd as well? So that either way renders them immediately.

[2017-03-16 13:10] fulls1z3 commented on #4
Actually, it depends on Angular Router. But I see that they're enhancing the features all the time and am keeping an eye on it. When another event (fired much before than the NavigationEnd) is offered (with the same results that @nglibs/meta needs), then I can simply subscribe on that.

[2017-03-16 15:47] arjenbrandenburgh commented on #27
You can solve it for now to use the function like this:

    this.metadata.setTitle('Blog - ' + hello, false, false);

This disables the deferred part of the function

[2017-03-26 05:42] bjornharvold commented on #27
+1

[2017-03-26 10:45] fulls1z3 commented on #27
Hi guys, I've been working on universal (*aka platform-server*) integration, and seems like it will be resulted soon. Then, I'll be able to release fixes for the listed bugs together with server-side rendering support.

[2017-03-28 21:56] kblestarge opened #30 "programmatically updating title or tags works inside ngOnInit, but not within subscribe callback function."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Neither `this.meta.setTag('description', 'updated description');` or `this.meta.setTitle('updated title');` seem to work inside of a subscribe function of an http request to a REST API.
**Expected/desired behavior**

It should use the default values of the metaService as defined here: https://github.com/nglibs/meta#appmod

[2017-03-28 22:12] kblestarge commented on #30
Maybe I don't understand how this is supposed to work. Is it even possible to update the meta information outside of the ngOnInit function?

[2017-03-28 22:21] kblestarge commented on #30
Looks like it works inside of a route param subscription declared in the ngOnInit:
`this.route.params.subscribe((params: Params) => { this.meta.setTitle('this works fine'); });`

but not inside my REST http subscription:
`this.xrdService.entity.getEntityBySeoName(this.seoName)
            .subscribe((result: XRDEntity) => {
                      this.meta.setTitle('this does not work');

[2017-03-29 19:32] fulls1z3 commented on #30
Hi @kblestarge, I'll analyze this and will return to you at the first opportunity.

[2017-03-30 15:26] kblestarge commented on #30
@fulls1z3, any helpful insights?

[2017-03-30 15:31] fulls1z3 commented on #30
Hi @kblestarge, just started, first with fixing the dependencies. But I'm planning to resolve all open issues on this & fellow repositories at once, while I have some free time this & tomorrow evenings.

Probably tomorrow, or Saturday I'll publish a release. Stay tuned :)

[2017-03-30 20:12] colin-davis commented on #30
So I was having some issues with this as well but I found a pretty good solution.

**First the issue:** NavigationEnd is called as soon as ngOnInit() finishes and does not wait for subscriptions to complete (and it shouldn't). Even deferred function won't add data from the subscriptions. As a hack you could add a function to manually update them when the subscription is done, however, this would b

[2017-03-30 22:18] kblestarge commented on #30
@Raydaq-git that works great for me! Thank you!

[2017-03-31 13:46] fulls1z3 commented on #27
Hi @chrillewoodz, @cybey, @bjornharvold, I've tested the issue documented above, using the latest version (*`@nglibs/meta`** v0.2.0-beta.4*) on the [@nglibs/example-app](https://github.com/nglibs/example-app).

Without touching the default configuration (*and also the `meta` properties at the routes*), I've modified the `src/app/+home/home.component.ts` as follows:

[code]

The output (*page title

[2017-03-31 13:46] #27 closed, assigned to nobody

[2017-03-31 13:46] fulls1z3 commented on #28
Hi @chrillewoodz, I've tested the issue documented above, using the latest version (*`@nglibs/meta`** v0.2.0-beta.4*) on the [@nglibs/example-app](https://github.com/nglibs/example-app).

Without touching the default configuration (*and also the `meta` properties at the routes*), I've modified the `src/app/+about/about-banana.component.ts` as follows:

[code]

Just after the initial navigation, th

[2017-03-31 13:46] #28 closed, assigned to nobody

[2017-03-31 14:47] fulls1z3 commented on #30
Hi @kblestarge, @Raydaq-git. First of all I'd like to thank to @Raydaq-git for coming up quickly and offering such a working solution as well as both your appreciation.

The use of **resolver** would definitely work in most cases, no doubts. However, I'd like to offer another alternative too: the **callback** function - which might be a slightly more elegant way to handle this.

I need to clarify

[2017-03-31 14:47] #30 closed, assigned to nobody

[2017-04-01 02:31] bjornharvold commented on #28
Than you for the mention @fulls1z3 ;-) The problem I was having was not setting it directly but like this:

My current code:
[code]

Unless I add "false, false" the title doesn't update

[2017-04-01 07:07] fulls1z3 commented on #28
Hi @bjornharvold, now with this **repro steps** I can have a better understanding about the issue, thank you for the provided information 👍

A similar topic was just discussed on #30: without `defer` argument set to `false`, `setTitle`/`setTag` methods simply **subscribe** to the `NavigationEnd` event of the router. However, the observable above gets resolved after that event.

There's a subscript

[2017-04-04 07:42] fulls1z3 opened #31 "prevent direct DOM manipulation"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta is currently touching the DOM directly.

**Expected/desired behavior**
For `master`, better use Meta (@angular/platform-browser) and for `v0.2.x` implement DomAdapter instead of manipulating the DOM.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing th

[2017-04-04 09:37] fulls1z3 opened #32 "use universal methods to manipulate the HTML element"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
In @nglibs/meta v0.2.0-rc.5, manipulating the HTML element (to set the **lang** attribute) has been commented out, in scope of preventing direct DOM manipulation.

**Expected/desired behavior**
We need to set the **lang** attribute of HTML element, using universal methods as they become available.

**Minimal reproduction o

[2017-04-04 09:44] #31 closed, assigned to fulls1z3

[2017-04-04 13:11] fulls1z3 opened #33 "updateLocales method does not clear `og:locale:alternate` tags"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The `updateLocales` method of `MetaService` is invoked, it removes the first occurrence of meta tags with the `og:locale:alternate` property. The second and further meta tags having `og:locale:alternate` property keep existing, as a result wrong `og:locale:alternate` are generated.

**Expected/desired behavior**
When the `

[2017-04-04 13:44] #33 closed, assigned to fulls1z3

[2017-04-05 09:37] fulls1z3 opened #34 "remove `[].slice.call(elements)`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The fix for TypeError: Object doesn't support property or method 'forEach'" issue on IE11 has already been covered by Meta/MetaHelper.

**Expected/desired behavior**
The fix can be removed from the source code, as it has already been covered on a higher level.

**Minimal reproduction of the problem with instructions**

**W

[2017-04-05 09:40] #34 closed, assigned to fulls1z3

[2017-04-05 17:38] fulls1z3 opened #35 "set meta tags thru `MetaGuard`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
As of [1ff82a2](https://github.com/nglibs/meta/commit/1ff82a2fcf4a8278f8951ab0932a1a44ad7543e8), @nglibs/meta works both on client and server platforms. Also, the meta tags generated by @nglibs/meta are fully SEO-friendly (visible on the HTML source). However, the meta tags are not fully visible using a callback function (

[2017-04-05 20:35] empurium commented on #20
+1 on this! I'm working on getting this going with Angular Universal right now as well. Forked the ng-universal-demo repository. I'll let you know if I have any findings.

[2017-04-06 07:37] fulls1z3 commented on #20
Hi @empurium, actually @nglibs/meta currently works (as of [1ff82a2](https://github.com/nglibs/meta/commit/1ff82a2fcf4a8278f8951ab0932a1a44ad7543e8)) with Angular Universal. Also, I'm planning to add the meta functionality on [universal-example-app](https://github.com/nglibs/universal-example-app).

However, I'm working on triggering callbacks using a route guard (#35) so that the meta information

[2017-04-06 13:26] fulls1z3 opened #36 "observable combining"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The method `getTitleWithPositioning` combines the default/actual title together the application name on the client platform. However, combined values do not appear on the HTML source (server platform).

**Expected/desired behavior**
Same combination must appear both on server and the client platforms. The following steps w

[2017-04-07 09:51] fulls1z3 opened #37 "remove manual & deferred initialization"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
@nglibs/meta does not need anymore manual & deferred initialization as the meta tag generation is triggered by the `MetaGuard`.

**Expected/desired behavior**
The following steps will maintain the desired functionality:

- [X] Remove deferred initialization (no longer needed)
- [X] Remove manual initialization (no longer n

[2017-04-07 13:11] #35 closed, assigned to fulls1z3

[2017-04-07 13:11] #36 closed, assigned to fulls1z3

[2017-04-07 13:11] #37 closed, assigned to fulls1z3

[2017-04-08 11:54] #20 closed, assigned to fulls1z3

[2017-04-08 12:53] #25 closed, assigned to fulls1z3

[2017-04-08 13:00] fulls1z3 commented on #26
Closing because it already passes the code review

[2017-04-08 13:00] #26 closed, assigned to nobody

[2017-04-08 15:23] fulls1z3 commented on #1
Hi @sambloeverghs, as of v0.2.0-rc.5 it supports server-side rendering. Hope you're still interested in `@nglibs/meta` :smile:

[2017-04-08 15:55] samvloeberghs commented on #1
Good job!😎

[2017-04-08 15:57] samvloeberghs commented on #32
They did miss that one.. I'm setting it after rendering the HTML for now

[2017-04-08 15:58] samvloeberghs commented on #19
Doesn't the knew meta service support that?

[2017-04-08 16:26] fulls1z3 commented on #32
I think I know why they missed that one. It is simply not within the scope of title.service and meta.service.

On the other hand, I could develop a method to do it by using the `DomAdapter`, but as of version 4, we can not access to `DomAdapter` outside Angular.

Seems like I'll need to develop and integrate it into Angular and make a PR. With the next release of Angular, the `v0.4.x` can use it (

[2017-04-08 16:30] fulls1z3 commented on #19
When `@nglibs/meta` was initially released, there was no Meta service in the Angular core. As of version 4, they introduced it - and yes, the Meta service from Angular core supports that feature.

For this reason, I branched the repo into two (`master` and `v0.2.x`) while the `v0.4.x` consumes the Meta service from Angular core, the `v0.2.x` contains these features internally.

However the main th

[2017-04-11 14:18] UrosSimovic opened #38 "where are old versions"
Which commit number was version 0.2 rc4. This version worked just fine for me, with 0.4rc1 I have problem with AoT compilation and lodash. It is a bad practice to unpublish old versions from npm.

[2017-04-11 14:38] fulls1z3 commented on #38
Hi @UrosSimovic I think you're using Angular 2, and that's why you're facing problems with `v0.4.0-rc.1` which is scaled to Angular 4.

You can use the `v0.2.0-rc.5` by specifying it in your `package.json`, it contains all the functionality that `v0.2.0-rc.4` had, with issues resolved.

[2017-04-11 14:38] #38 closed, assigned to nobody

[2017-04-12 07:34] UrosSimovic commented on #38
Thanks for your answer. I'm using angular `v4.0.1`, but there are some problem with lodash. I'm using [https://github.com/mgechev/angular-seed](https://github.com/mgechev/angular-seed) for aot building and rollup. There is probably problem with angular-seed, but while resolving problem I need `v0.2.0-rc-4` which was the last version without lodash.

Would you please return old version to npm?

[2017-04-12 08:12] fulls1z3 commented on #38
Hi @UrosSimovic, not with `lodash` but with `@types/lodash` there are many problems - especially on versions higher than `4.14.55` and lower than `4.14.50`. It's all related with TypeScript 2.0 / 2.1 / 2.2. When the version is fixed to `4.14.55` (*instead of `^4.14.55` or higher or lower*) it might help disappearing those problems (*using TypeScript 2.2*).

Well this was just some little advice, a

[2017-04-12 09:18] phoenixTW opened #39 "export 'Meta' was not found in '@angular/platform-browser'"
**I have one angular-cli generated project where I want to use dynamic metadata for a page. I went ahead and used this module but its giving me the following issue.**
[code]

I am not using **systemjs.config**.

**Current behavior**
It is unable to find *Meta* class on *@nglibs/meta/src/meta.service.js*

**Expected/desired behavior**
It should allow the application to run successfully.

**Minimal

[2017-04-12 09:44] fulls1z3 commented on #39
Hi @phoenixTW you're using `v0.4.0-rc.1` on Angular 2 and you better should set the version in your `package.json` to `0.2.0-rc.5`.

Angular 4 contains a generic `Meta` service whereas Angular 4 does't. The `v0.2.x` branch contains these helpers that Angular 4 provides natively.

I think fixing the version on your package.json would solve your problem. You can find this information on README.md to

[2017-04-12 09:50] #39 closed, assigned to nobody

[2017-04-12 12:10] UrosSimovic commented on #38
Thanks for meta.zip.

As as I thought there is problem with lodash and rollup. A lot of similiar issues regarding angular, rollup and lodash.

I can't see any advanteges of using lodash just for two methods (has, get). It is easy to replace them.

[2017-04-12 12:15] fulls1z3 commented on #38
Actually I want to thank you @UrosSimovic for this feedback, I'm considering them all before reaching the final release (*from the RC's*).

At the next RC, I'll remove the lodash dependency and I think after that RC `meta` will reach to the final release.

[2017-04-12 12:18] fulls1z3 opened #40 "remove `lodash` dependency"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`lodash` offers great functionality as well as several errors causing a lot of effort to solve - especially with types (#38). Furthermore, it increases the bundle size (*50KB~500KB*).

**Expected/desired behavior**
Get rid of `lodash`, do not depend on it!

**Minimal reproduction of the problem with instructions**

**What

[2017-04-12 12:20] UrosSimovic commented on #38
Oh, nice. Thanks again.

[2017-04-12 12:22] fulls1z3 commented on #38
I've just created an issue about this, so you can track the status on #40.

[2017-04-13 19:40] markoddi opened #41 "using ng2-metadata in my angular-cli app and it doesnt work in an AOT build only in JIT build"
I'm using ng2-metadata in my angular-cli app and it doesnt work in an AOT build only in JIT build.

I've made a stack overflow question: http://stackoverflow.com/questions/43395669/in-angular-cli-how-can-you-add-meta-data-to-routes-e-g-title-and-description-ta

How can I get this working in an AOT build.

[2017-04-14 11:50] fulls1z3 commented on #41
Hi @markoddi, I'd suggest you to have a look at the package description (**README** file), as **README** files contain up-to-date information in most cases.

There's a **depreciation warning** on the [npm page](https://www.npmjs.com/package/ng2-metadata) of **`ng2-metadata`**,  saying that the project is deprecated, no longer maintained and now continues at [**`@nglibs\meta`**](https://github.com/

[2017-04-14 12:09] #41 closed, assigned to nobody

[2017-04-14 15:38] fulls1z3 opened #42 "add `yarn.lock` to npmignore"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The npm package contains `yarn.lock` file

**Expected/desired behavior**
`yarn.lock` file must be excluded from redistributable package.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular versi

[2017-04-20 13:57] fulls1z3 opened #43 "rename to `@ngx-meta/core`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android

[2017-04-20 14:17] markoddi opened #44 "support for canonical tags"
Hi,

How do I make the canonical tag change. I've got the title, description and keywords changing ok.

Do I simply do this:

[code]
I'm using angular version 4, with webpack, typescript and ng2-meta plugin. I just need to make the canonical tag change in runtime like the description changes. Is this possible?

[2017-04-20 15:12] #42 closed, assigned to fulls1z3

[2017-04-20 15:12] #43 closed, assigned to fulls1z3

[2017-04-20 15:34] markoddi opened #45 "t"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android

[2017-04-20 15:58] #45 closed, assigned to nobody

[2017-05-09 07:57] #40 closed, assigned to fulls1z3

[2017-05-09 07:58] fulls1z3 commented on #44
Hi @markoddi, I've found some useful info on this topic (https://github.com/angular/angular/issues/15776#issuecomment-291862953).

I am planning to update this repo with this feature, on v0.2.0 final release.

[2017-05-09 08:00] fulls1z3 commented on #32
https://github.com/angular/angular/issues/15776#issuecomment-291862953

[2017-05-27 19:58] rahulbpatel opened #46 "is it possible to dynamically set in ngAfterContentInit hook?"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

If I set in `ngOnInit` works server-side rendering works, but not in the `ngAfterContentInit` hook.

**Expected/desired behavior**

Server side rendering works when set in `ngAfterContentInit`

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

I've

[2017-06-23 12:43] stefan-krajnik opened #47 "no refresh method in MetaService"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I found `this.meta.refresh();` in readme. But there is no refresh method in MetaService delaration.

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:**

[2017-06-23 12:49] stefan-krajnik opened #48 "default meta not set"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I've copied
[code]

`metaFactory` function as well from readme.  Meta/title is not set, only if I change it via MetaService. Is it a bug or am I doing something wrong ?

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

[2017-06-23 16:31] chriseugenerodriguez opened #49 "work with ngx-translate >= v7.x"
**I'm submitting a ...**  (check one with "x")
[code]
The whole reason I want to use this if it works with ngx-translate, I use angular universal instead. I want to see if I can use dynamic translate in meta and title tags.

[2017-06-27 20:21] fulls1z3 commented on #49
@premiumwd in the beginning (*before including the callback method feature*) I was thinking about developing a custom loader which uses ngx-translate. Did you mean more or less such a feature?

Let me know about your ideas, and let's see what we can do.

[2017-06-27 20:22] fulls1z3 commented on #48
@stefan-krajnik could you please post here your app.config and the component class where you use the `MetaService` - so that I can have a better look and suggest you what to do.

[2017-06-27 20:24] fulls1z3 commented on #47
@stefan-krajnik there was a `refresh` method earlier, but it has been removed. Thanks for pointing this out, so that I'll remove it from README.

[2017-06-27 20:27] chriseugenerodriguez commented on #49
@fulls1z3 I have been working on this a couple of days, and a lot of people need this. I have found the issue with (ngx-translate + angular universal) and its with express engine setup on the server end when rendering the html views. If you make this work ngx-meta + ngx-translate you will completely take it over. I think for simplicity purposes, inheriting ngx-translate with ngx-meta would be pref

[2017-06-27 20:51] fulls1z3 commented on #49
@premiumwd thanks for the information, do you have any scratches (*code, design, etc*) for this feature? If so, please share them by uploading a ZIP file on this issue. If not, could you elaborate the required features with a little more details (*and sample cases if possible*) so that the feature would cover the exact needs.

[2017-06-27 20:56] chriseugenerodriguez commented on #49
@fulls1z3 pretty self explanatory, I do not have code samples but basically, just have translate pipes with your ngx-meta from ngx-translate code.

[2017-06-27 20:58] fulls1z3 commented on #49
@premiumwd well, I will try to generate that use case on one of my projects and will ask you for further instructions. I think we can cover this feature, so step by step let's proceed 👍

[2017-06-27 20:59] #47 closed, assigned to fulls1z3

[2017-07-08 03:28] jesspagan commented on #44
Hi @fulls1z3, I am using v0.4. Is this version going to get an update about this like v.0.2.0??

[2017-07-11 06:42] OdaiTu opened #50 "no exported member meta when aot compiler"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

when im making aot compiler using angular-cli this error comes up
ERROR in F:/zeina/rb2000_angular/rb2000/node_modules/@ngx-meta/core/src/meta.service.d.ts (1,10): Module '"F:/zeina/rb2000_angular/rb2000/node_modules/@angular/platform-browser/index"' has no export
ed member 'Meta'.

im using angular 2 v 2.4.10

so how can

[2017-07-11 12:05] fulls1z3 commented on #44
@jesspagan this feature will be implemented both on v0.2.0 and v0.4.0

[2017-07-11 17:48] fulls1z3 commented on #50
@OdaiTu could you please tell me which version of `ngx-meta/core` did you use on your project (*v0.2.0 or v0.4.0*)? I think you should better have a look at `package.json` in `node_modules` and let me know about the exact version number.

[2017-07-13 12:05] nicky-lenaers opened #51 "include host/domain in "og:url""
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When changing route to e.g. `/about-us`, only the path of the url is added to the meta: `<meta property="og:url" content="/about-us">`.

**Expected/desired behavior**

The full URL host should be in the `og:url` fragment, like so: `<meta property="og:url" content="https://company.com/about-us">`.

**Minimal reproduction o

[2017-07-13 14:43] fulls1z3 commented on #51
@nicky-lenaers you should set to `applicationUrl` property using the `MetaLoader` in your app.config, this way the host/domain url will be preprended to `og:url`.

[2017-07-13 14:43] #51 closed, assigned to nobody

[2017-07-28 13:50] jinnabaalu opened #52 "able to see the title and meta description in inspect but not in view source"
Inspect view of the application

![image](https://user-images.githubusercontent.com/11784253/28720126-e0b0276c-73c9-11e7-8fe8-62c3ba6efd88.png)

View page source of the application

![image](https://user-images.githubusercontent.com/11784253/28720015-970f7130-73c9-11e7-8f09-114c3cfc9c82.png)

[2017-07-28 19:32] Tuizi opened #53 "changing language doesn't refresh meta (ng-seed/spa does because it reload the page!)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
- Put the callback method to use Translate library `callback: (key: string) => translate.get(key),`
- Put the `guard` and set data in your route set data property of your route
[code]
- Suppose that you have a button to switch the language, this button execute this code:
[code]

When you change the language, the translatio

[2017-07-28 19:54] fulls1z3 commented on #52
@JinnaBalu this is normal, you'll need to implement server-side rendering to view the meta information on the page source. Please have a look at [ng-seed/universal](https://github.com/ng-seed/universal) for the proper implementation.

[2017-07-28 19:54] #52 closed, assigned to nobody

[2017-07-28 19:56] fulls1z3 commented on #53
@Tuizi thanks for pointing this out, we have a more or less similar open issue about this (#49), so I think things will work together.

[2017-07-28 21:08] Tuizi commented on #53
Yeay! I'm thinking of starting helping you, all the libraries `ngx-*` are amazing.

[2017-07-28 21:33] fulls1z3 commented on #53
@Tuizi really appreciate that you liked and utilized features from those libraries, and the community would be really glad from your contributions.

Meanwhile, more is coming: such as integrating `@angular/material2` to `ng-seed`, `d3.js` and `datatables` implementation for material design.

[2017-07-28 21:33] #48 closed, assigned to nobody

[2017-07-28 21:35] #50 closed, assigned to nobody

[2017-08-03 09:29] fulls1z3 commented on #49
@premiumwd just to make sure, are we talking about **ngx-translate** `v7.x`?

[2017-08-04 10:48] fulls1z3 opened #54 "add `getTitle` method to `meta.service`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
There's no interface which allows to retrieve the current page title using `meta.service`.

**Expected/desired behavior**
`metaService.getTitle` method should be introduced, and should return the current page title:
- [ ] with callback
- [ ] without callback

**Minimal reproduction of the problem with instructions**

**Wha

[2017-08-04 10:48] fulls1z3 opened #55 "string format/token replacement"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
There's no interface which allows token replacement (*ex: the string `Query returned {0} results`*).

**Expected/desired behavior**
We need to introduce a function (*`formatString`*) which utilizes the JS Regex library replacing tokens with supplied arguments.

**Minimal reproduction of the problem with instructions**

**W

[2017-08-09 18:57] bliitzkrieg opened #56 "angular-cli + universal compliance"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Angular Universal with the angular CLI (https://github.com/angular/angular-cli/wiki/stories-universal-rendering) is throwing an unexpected token import error

[code]

**Expected/desired behavior**
Should compile

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing th

[2017-08-09 19:00] bliitzkrieg commented on #56
I believe ngrx-meta needs to be in a CommonJS format - See https://github.com/angular/angular-cli/issues/7200 for more information

[2017-08-10 15:11] fulls1z3 commented on #56
@bliitzkrieg I've read the issue, and it seems like that's no way connected with the `ngx-meta`. Also, @hansl suggests a fix (*not a solution*) which uses https://www.npmjs.com/package/import-export. or disable AoT.

Furthermore, I believe using CLI with Angular Universal does not sound like a good practice - because CLI limits access to build configuration.

Using the CommonJS format has side eff

[2017-08-10 16:29] bliitzkrieg commented on #56
Damn that's unfortunate.

Ideally the CLI should be the starting point for all angular projects and if custom configuration is required, that's when you eject from it and customize to your requirements. I assume the angular team has plans to integrate universal considering they have a [universal guide](https://github.com/angular/angular-cli/wiki/stories-universal-rendering) on the CLI wiki (added

[2017-08-10 16:40] fulls1z3 commented on #56
@bliitzkrieg thanks for the information, but not only the *popular angular libs* are suffering, also key features such as **lazy-loading**, etc. are suffering too. Without those key features, CLI + Universal wouldn't be so practical.

Moreover, It's the official Angular documentation who recommends the `es2015` module format for AoT and tree-shaking - not the library authors.

Also, CLI is unable

[2017-08-10 16:51] bliitzkrieg commented on #56
I can agree with that. I hope they get to a point where its streamlined with an opinionated approach (in the vain of NextJS) as SSR is such a great feature and a requirement for so many applications.

[2017-08-10 17:29] hansl commented on #56
The real fix is for ngx (and all libraries that want to be Universal compatible) to use the proper flags when building. @robwormald should contact you about it.

This is not something we can fix in the CLI easily, unfortunately.

[2017-08-10 17:53] fulls1z3 commented on #56
@hansl thanks for getting in touch and suggesting a solution, I really appreciate it 👍

Actually I'm aware the great job you and your team are doing with the CLI and can imagine how difficult is it to come up with a solution which works for everyone. Though job!

I'm looking forward to the information from @robwormald, while tracking further development and fixes with the CLI + Universal. Until th

[2017-08-10 18:51] hansl commented on #56
@fulls1z3 that guide is for applications, not libraries. Building a library is covered by another guide. https://www.youtube.com/watch?v=unICbsPGFIA is a good video tutorial. Rob will have more information.

[2017-08-10 19:06] hansl commented on #56
There's also this document which contains a lot of information (but isn't necessarily an easy read): https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview

[2017-08-10 19:11] fulls1z3 commented on #56
@hansl thanks, I think this document will help 👍

[2017-08-11 11:51] shabbir-dhangot opened #57 "change title after API call not reflecting on"
**I'm submitting a ...**
[code]

**Current behavior**
Changing title and meta on constructor working and showing on google as well. Changing Title and meta tag after API call. may be difference of 1 sec is not reflecting on the Google.

**Expected/desired behavior**
I think google bot not waiting for change in title after API call.

**Current environment:**
Operating System : ubuntu 16.04
IDE : vi

[2017-08-13 01:11] ruffiem opened #58 "does this lib actually work ?"
I ran `npm i @ngx-meta/core` and it saved a repo in my node_modules folder with only a changelog.md, LICENSE, package.json and README.md files.

Does this lib work ??

[2017-08-13 01:12] ruffiem commented on #58
nevermind

[2017-08-13 01:12] #58 closed, assigned to nobody

[2017-08-13 11:59] baucez opened #59 "cannot make it working"
**I'm submitting a ...**  (check one with "x")
[code]

**Minimal reproduction of the problem with instructions**

I followed the installation guide but i get this error:
Call to Node module failed with error: Prerendering failed because of error: [...]\node_modules\@angular\platform-browser\src\dom\dom_adapter.js:12
export function getDOM() {
^^^^^^
SyntaxError: Unexpected token export

**Please t

[2017-08-21 17:28] stewones opened #60 "please add detailed install on readme"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-08-21 17:30] fulls1z3 commented on #60
@stewwan can you please elaborate more details? what installation steps you actually need?

[2017-08-21 17:32] stewones commented on #60
@fulls1z3  just cant figure out what package to use,  ngx-meta or ngx-meta/core or both.
thx for fast reply

[2017-08-21 17:33] fulls1z3 commented on #57
@shabbir-dhangot thanks for pointing out this issue, actually in such cases it's better to resolve the result of this observable at the router level.

Anyway, I'll try to figure analyzing the router behavior - but can't promise anything about it.

[2017-08-21 17:35] fulls1z3 commented on #60
@stewwan the project's name is `ngx-meta` and the npm package's name is `@ngx-meta/core`. If you check the README file, you'll notice a table enumerating the packages under the scope of `ngx-meta`. This table contains both links to the package's README as well as npm package's link.

The answer to your question, you need to include `@ngx-meta/core` right at your `package.json`.

Happy coding 👍

[2017-08-21 17:35] #60 closed, assigned to nobody

[2017-08-21 17:41] fulls1z3 commented on #59
@baucez I think we're talking about angular 2.4.x, I'll need to have a look at its behavior. Some updates on deps sometimes cause this.

[2017-08-21 17:51] stewones commented on #60
ok thx @fulls1z3 . but just to known, if you wanna improve your package.

cant figure out how it works. I miss a simple sample, your examples are a bit advanced. I just need to put a title in the routes

I did this steps and it doesn't works

1 - `npm install @ngx-meta/core --save`

2 -
[code]

3 -
[code]

[2017-08-21 18:10] stewones commented on #60
ok it was my fault. just realized I missed the MetaGuard step in routes. Anyway thanks.

[2017-08-21 18:11] fulls1z3 commented on #60
@stewwan you're welcome, and if you think there might be improvements (*in terms of making the things easier*), feel free to create a **pull request**.

[2017-09-03 17:48] fulls1z3 commented on #56
@hansl thanks again for the documentation, watching the ng-conf video and reading the document that you shared as well as analyzing the repo that @filipesilva deployed [angular-quickstart-lib](https://github.com/filipesilva/angular-quickstart-lib) gave me enough information about how to maintain the build system for angular libraries. If you'll be able to have a quick look at the repo, it would be

[2017-09-03 17:50] fulls1z3 commented on #59
@baucez I know it's pretty late, but I'm getting more or less similar errors with the new testing platform (*jest*). I'd like to hear about your tsconfig.json first, and see what we can do.

[2017-09-03 21:10] #56 closed, assigned to fulls1z3

[2017-09-05 08:59] #59 closed, assigned to nobody

[2017-09-07 13:57] maikelthedev commented on #41
I've got this same issue, it works on ng serve perfectly but not in ng build --prod.
Attached is what's printed in the screen when I do it.

[a.txt](https://github.com/fulls1z3/ngx-meta/files/1284881/a.txt)

[2017-09-07 14:06] fulls1z3 commented on #41
@maikeldotuk thanks for sharing this information with us, but could you please move this topic to a new issue?

Like this, it's really not practical to to track the status on an already-closed issue.

[2017-09-07 14:34] maikelthedev commented on #41
Sure

[2017-09-07 14:35] fulls1z3 commented on #41
Meanwhile, I was able to reproduce the error that you're getting, and already began working on a fix. Let's discuss this situation on its topic.

[2017-09-07 14:38] maikelthedev opened #81 "can't "ng build --prod" but I can "ng serve" and it works there"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

While I'm in dev mode (ng serve) everything works but as soon as I go to "ng build --prod" it fails. I've attached the stdout and stderr as a.txt here

![capture](https://user-images.githubusercontent.com/29461493/30168970-e491cd34-93e2-11e7-8aad-14c86c296fd0.JPG)
How can you not find it in build but yes in dev ?

**Expec

[2017-09-07 15:58] fulls1z3 commented on #81
@maikeldotuk applied the fix and got it working on a fresh *cli* env, as well as on *ng-seed/universal*, soon gonna make a new release including the fix.

[2017-09-07 16:12] maikelthedev commented on #81
I'm afraid I manage to get the same results without the plugin, by using the Meta component from Angular.

    const winTitle = 'Maikel.uk: ' + this.theSkill.skillTitle;
    document.title = winTitle;
    this.metaService.addTag({ property: 'og:title', content: winTitle});
    this.metaService.addTag({ property: 'title', content: winTitle});
    this.metaService.addTag({ property: 'og:icon', conte

[2017-09-07 16:13] fulls1z3 commented on #81
@maikeldotuk well, happy coding

[2017-09-07 16:14] maikelthedev commented on #81
Re:

**What was the problem? Care to elaborate please?** I want to see if I was close to find it, since I googled all over the internet, my eyes hurt.

[2017-09-07 16:26] maikelthedev commented on #81
Please notify once updated, my rudimentary work-around only worked with the titles, not yet with what's shown on Facebook :'( unfortunately.

I still need it

[2017-09-07 17:39] #81 closed, assigned to fulls1z3

[2017-09-07 18:12] fulls1z3 commented on #81
@maikeldotuk it was related with the new build system to make libraries compatible with angular-cli with universal support.

We switched from webpack to rollup in order to be able to generate all ES2015, ES5 and UMD bundles.

During this transition, the **angular-quickstart-lib** repo was considered as a model. All was OK, except the `moduleId` which was stuck unresolved.

I line-by-line compared

[2017-09-08 00:08] maikelthedev commented on #81
You're amazing, never seen anyone this efficient. Keep it up!

Thank you very much, adding it now. I've been busy the rest of the day fighting with [Morgan ](https://www.maikel.uk/#/skills/Node/Morgan) the expressjs middleware

UPDATE: I can confirm it happily compiles now with no problems whatsoever. Thank you very much again, you're awesome.

[2017-09-11 21:31] maikelthedev commented on #81
Hey I've solved the SEO problem without Angular Universal, without prerender.io, without anything really. Just a bit of code on the server side to avoid complicating my own existence too much.

The code is there: https://gist.github.com/maikeldotuk/2dcf1bac28e90b7238be19d093a38845

I thought:

So I used handlebars and some code from npm from someone that detects when whoever is accesing my site is

[2017-09-15 21:51] brentchow commented on #43
Docs should be updated to show that this is the new home for `@nglibs/meta`. There should also be some sort of note left at the old repo URL that `@nglibs/meta` was deprecated and where to find the renamed version.

This was a big bitch when all the sudden builds started breaking. A heads up would have been nice. Otherwise, thanks for building/maintaining this.

[2017-09-15 21:55] fulls1z3 commented on #43
@brentchow a few days ago I contacted npm about the deprecation for a few packages and moving them under `npm` scope, but seems like `@nglibs` is not deprecated but removed. I'll see what can I do for this.

Also, thanks for notifying 👍

[2017-09-16 20:18] fulls1z3 opened #96 "make use of Google's JS and Material2 style guides"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**
- [ ] public members without prefix & private members with **underscore** `_` prefix
- [ ] add JSDocs

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
- https://github.com/angular/material2/blob/master/CODING_STANDARD

[2017-09-16 20:28] fulls1z3 opened #97 "use compodoc to generate project docs"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-19 12:51] nishesj opened #98 "fails compile with strictNullChecks in tsconfig"
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[] Support request =>
[x] Feature request
[ ] Documentation issue or request
[code]

[2017-09-20 16:40] deathbearbrown opened #99 "Question about this project in relation to nglibs/meta"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I am working on a project which is new to me that has https://www.npmjs.com/package/@nglibs/meta as a dependency. A teammate noticed this morning that it no longer exists.  Since @fulls1z3 is the creator of the nglibs project, I was wondering if this is an entirely new project or the nglibs project renamed.

[2017-09-21 08:01] fulls1z3 commented on #99
Just renaming, not totally entirely a new project.

The background of this problem is that I contacted npm to deprecate it along with several other packages but resulted as a deletion by a misunderstanding I think.

Anyway, you can straightforwardly use **ngx-meta** and simply place a *MetaGuard* on your routes rather than including it in your *AppComponent*. The rest works the same.

Meanwhile, i

[2017-09-21 08:01] #99 closed, assigned to nobody

[2017-09-24 11:39] gianpaj opened #101 "How to set meta tags programmatically on the server side?"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When setting meta tags programmatically at the client side, e.g. in a component, those tags are obviously not set at the server side, at first render.

How do I run a http request to retrieve data from an API and then, for example, set the correct `og:image`?

**Minimal instructions**
in `mycomp.component.ts`
[code]

Would

[2017-10-03 18:43] slegaitis commented on #8
I'm having same issue with Angular 4.4.4 and ng2-metadata 2.0.1 :( With Aot compiler too.

Any ideas?

[2017-10-04 07:46] fulls1z3 commented on #8
@tauciokas as seen as on [npm](https://www.npmjs.com/package/ng2-metadata) ng2-metadata is no longer supported and has been deprecated. Please use the [@ngx-meta/core package](https://www.npmjs.com/package/@ngx-meta/core) instead.

[2017-10-17 20:22] linusbrolin commented on #101
I would also like to know how to do this.
Specifically for routes with an `:id` parameter:

I can't just use a http service for this that resolves the 'PRODUCT_TITLE' variable for example, because I have no idea which product to read the title from.
I need to access the `:id` parameter in the route itself in order to know which product to read the title from.

How do I resolve the `:id` parameter

[2017-11-07 10:14] mistrynilesh opened #118 "dynamically added meta tags does not recognize facebook"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

[code]

**What is the motivation / use case for changing the behavior?**

Meta tag are getting added it is visible in the chrome developer tool but facebook does not recognize.

**Environment**
* **Angular version:** 4.0.0

* **Brows

[2017-11-10 20:00] gianpaj commented on #118
related to https://github.com/fulls1z3/ngx-meta/issues/101

this is because (i believe) the components code are executed on the client side and not at server rendering.

Perhaps this could work?
https://github.com/angular/universal#universal-gotchas

[2017-11-11 17:49] gianpaj commented on #101
I made a new angular 5 app cloning this:
https://github.com/angular/universal-starter

Installed `ngx-meta` and then ran `npm run build:ssr && npm run serve:ssr`.

and it worked 🎉

[2017-11-11 17:49] #101 closed, assigned to nobody

[2017-11-16 07:58] mistrynilesh commented on #118
@gianpaj I used server side rendering page but still not working. When I am doing view source on browser developer tool than meta tags are available. facebook Sharing Debugger doesn't shows OG tags.

[2017-11-16 08:38] gianpaj commented on #118
As mentioned in #101 , I used https://github.com/angular/universal-starter

How are you starting the server? I transpile/build it with `npm run build:ssr` and then start the server.js in the dist folder with `npm run serve:ssr`.

I have a very similar code:

[code]

[2017-11-16 10:39] mistrynilesh commented on #118
@gianpaj, Thanks.

I am also using default values to set OG tags-

[code]

[code]
"og:image" rendered properly but "og:description" and "og:title" doesn't works. not showing facebook debugger.

[2017-11-24 12:33] linusbrolin commented on #118
I still have the same problem aswell, just like I mentioned here: https://github.com/fulls1z3/ngx-meta/issues/101#issuecomment-337358565

I think the reason its working for @gianpaj is simply timing, the Facebook crawler has a really low timeout, and for very basic apps such as the universal-starter, the time it takes to load the item in ngOnInit is probably fast enough for it to work, but if the

[2017-11-24 13:38] gianpaj commented on #118
I don't think that's true. I don't know the underlying reasons why exactly it works, but my SSR server runs properly and renders the correct meta-tags in the HTML.
View the source of this page for example: https://givebox.xyz/item/H1-ybixCZ

The `og:image`, `og:url`,`og:title` (and title) are dynamically generated.

I think you need to make sure you are running something like `npm run build:ssr` a

[2017-11-24 19:32] linusbrolin commented on #118
I am running a proper aot build with angular-cli.
When and how do you collect the correct image url for the og:image tag?
Because I can get the og:title to be set to what it should, but the og:image tag is simply not being set, despite the fact that I have created a router guard specifically for this that sets both the og:title and the og:image at the same time from the same data.

Edit:
Some sour

[2017-11-24 21:37] gianpaj commented on #118
my component class implements `OnInit` (see https://github.com/fulls1z3/ngx-meta/issues/118#issuecomment-344852631).
I've never used or heard of `CanActivate`. Hopefully somebody can guide you in the right direction

[2017-11-25 16:00] linusbrolin commented on #118
`CanActivate` is used in the router, as a way to determine if a route is allowed or not, before the component is rendered.

As an update to the issue here, `PlatformLocation` was the reason that the image does not show up for me.
So for now I'm gonna have to live with hardcoding the image paths and just retrieve the filename itself from the server.

I still wish there was a way to do this kind of

[2017-12-20 16:47] xaralis commented on #98
Due to this bug, lib cannot be used with projects running in strict mode, which is unfortunately our case. Can some fix this?

Have a look at this PR too:

https://github.com/fulls1z3/ngx-meta/pull/123

[2018-01-07 21:03] fulls1z3 commented on #49
done

[2018-01-07 21:03] #49 closed, assigned to fulls1z3

[2018-01-09 04:08] cahkee commented on #118
Any update on this issue? I'm also encountering the same issue @linusbrolin reported when the tags are dynamically retrieved from an API rather than being hard-coded.  @linusbrolin did you end up resolving your issue?

[2018-01-16 12:15] linusbrolin commented on #118
@cahkee No, not really.
I'm still hard-coding the paths and then use an API to retrieve the filenames.
It's ugly, but works for now.

[2018-01-19 11:15] Chuvisco88 opened #147 "compilation failing with files not found"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
IMPORTANT: `@ngx-meta/core version 2.0.1`
When compilation is run, it throws an error that a file could not be found when resolving the module
[code]
I tried and added the file from this repository to the node_modules folder, it worked until it didn't find another file `node_modules/@ngx-meta/core/src/meta.helper`.
So I ad

[2018-01-24 17:31] #98 closed, assigned to fulls1z3

[2018-01-24 17:33] fulls1z3 commented on #147
@Chuvisco88 i see what the problem exactly is, that's all about we had to change the build system after Angular team forced all libs to do so, and as a drawback projects with Angular <4 are suffering.

Did you try to download the latest package of `@ngx-meta/core` to an empty project and copy those files from there, to your app's `node_modules` directory?

[2018-01-29 06:22] Chuvisco88 commented on #147
We found an easy fix by using git instead of the npm module:
`"ngx-meta": "git+https://github.com/fulls1z3/ngx-meta.git#v2.0.1",`
That worked as it clones the repo in the node_module folder

[2018-01-29 06:22] #147 closed, assigned to nobody

[2018-01-31 17:53] vlados commented on #54
Can we bump this with higher priority?

[2018-02-02 04:47] fulls1z3 commented on #54
@vlados i need that functionality, but had to delay it many times 😄

what's your use case my friend?

[2018-02-02 04:48] #46 closed, assigned to nobody

[2018-02-02 08:36] vlados commented on #54
@fulls1z3 Scenario:
I have two components -
ViewBuildings with url 'view/:id' and title added after loading the data for the corresponding id
ListBuildings with url 'list' with title List buildings
I also have ModalComponent that is loading ViewBuildings inside of  modal dialog which on open is changing the title. This is ok, but I need to add functionality on close to set the title for the origin

[2018-02-02 08:41] vlados commented on #54
What if I add:

import { Title } from 'angular/platform-browser';
this.title.getTitle()

[2018-03-14 07:07] chozharajan commented on #118
@gianpaj  can you share your full code for meta update because am getting error in `.subscribe((item: Item) => {`
can't find name Item am also using same Repo from [https://github.com/angular/universal-starter](https://github.com/angular/universal-starter) and `ngx-meta`
1. if i update manually its work ---` this.meta.setTag('og:image', 'cAngulsadasdar 4 meta service');`
2. but when i update after

[2018-03-14 12:32] gianpaj commented on #118
@chozharajan my code is like https://github.com/fulls1z3/ngx-meta/issues/118#issuecomment-344852631

I don't understand the error you're mentioning: `can't find name Item`.

Maybe open a StackOverflow question with the code, error message, or even better, a repo to reproduce, and the link to the SO question, and I'll try to help.

[2018-03-14 12:42] chozharajan commented on #118
@gianpaj thanks for your kind replay. can you share your full code. so it's helpful to build my app. because am also using same as your project. hlp me out
my main issue is ---(when i update after API call its not reflected in view source(Cntrl + U))

[2018-03-14 14:39] kylecordes commented on #118
Reading through all the conversation, the result is not exactly clear. Here is what I **think** everything above means: to make this work with Facebook it is necessary to:

* Use server-side rendering
* arrange things such that routing waits for the data for the meta-tags
* ... and thus that the meta-tags end up already populated in the `<head>` of the statically served prerendered content

Is tha

[2018-03-14 15:07] linusbrolin commented on #118
@kylecordes If the content you want to use for the facebook meta-tags is dynamically collected via an api, based on the id and other variables you get from the route, then yes.

[2018-03-27 10:58] chozharajan commented on #101
my project work well in local. but once deployed in server. i got view source (cntrl + U) but meta update not happening. i used `npm run build:prerender` cmd for build the project. and i placed  `dist/browser` files in root directory. here is my project [link](https://e-editionstg.dinathanthi.org/). so how to make meta update possible. **NOTE:** in local am getting meta update for `npm run build:s

[2018-03-27 11:04] chozharajan commented on #118
Hi, finally my project work well in local. but once deployed in server. i got view source (cntrl + U) but **meta** update not happening. i used npm run build:prerender  cmd for build the project my reference [Repo](https://github.com/angular/universal-starter). and i placed dist/browser files in root directory. here is my project [Link](https://e-editionstg.dinathanthi.org/). so how to make meta u

[2018-03-27 18:24] Thommas commented on #101
https://angular.io/guide/universal

[code]

Conclusion you can't update <head><meta> server side and expect it to work...

I'm also looking for a solution.

As I'm going to prerender with pupeeter, a dirty hack would be to set meta for each page at the prerender level instead of inside the angular app.

[2018-05-07 15:23] stewones commented on #54
needing this too, would be awesome to have.

[2018-05-08 17:28] acostajohn opened #171 "tags not updating for lazy modules (AOT)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

With AOT, for routes lazily loading modules, the meta tags are not being updated, instead, those get cleared out. It works as expected by using JIT, tho.

Example:

app-routing.module.ts
[code]

home-routing.module.ts
[code]

**Expected/desired behavior**

The root route should update their tags properly with the data sta

[2018-05-30 20:58] kblestarge opened #177 "support Angular v6"
**I'm submitting a ...**
[code]

**Current behavior**

App won't update to Angular v6 because of this error:
`Package "@ngx-meta/core" has an incompatible peer dependency to "@angular/router" (requires ">=5.0.0-rc.0 <6.0.0||>=4.0.0 <5.0.0", would install "6.0.3")`

**Expected/desired behavior**

Should work with Angular v6

**Minimal reproduction of the problem with instructions**
Go through direc

[2018-07-03 06:12] canpalte commented on #118
Hi, how do you do to work well? do you use canactive to set meta before render??

[2018-07-04 10:13] mmazloum opened #180 "meta description (not og:description) and meta keyword"
[ X ] Feature request
[ ] Documentation issue or request
[code]

[2018-07-04 12:40] mmazloum commented on #180
Best option would be a setName function that would insert a  :
`<meta name="..." content="...">`

Would be usefull for twitter cards and SEO.
For pages with dynamic data.

[2018-07-10 13:12] eduardmarcinov opened #181 "different property name according tag"
[ x] Bug report

If I set meta tag like this -
`setTag('fb:app_id', fbAppId);`
I got:
`<meta name="fb:app_id" content="fbAppId">`

and if I set
`setTag('og:description', openGraph.description);`
I got:
`<meta property="og:description" content="">`

Difference between these tags is name of property - in the first one is "`name`" and second one is "`property"`. How can I set `<meta property"fb:id" .

[2018-07-11 10:37] visurel opened #182 "remove lodash peerDependency as it's not needed"
https://github.com/fulls1z3/ngx-meta/blob/328100a3f093002c16f4c3f1f1983f6d9f4800e2/packages/%40ngx-meta/core/package.json#L38

[2018-07-23 18:30] #180 closed, assigned to nobody

[2018-07-23 21:08] #182 closed, assigned to nobody

[2018-07-23 21:08] #177 closed, assigned to fulls1z3

[2018-07-25 07:01] bharath-holla commented on #118
@kylecordes, @linusbrolin,
any update on this issue? have you been able to find an alternative? My issue is the same as the original problem explained in the ticket. As long as the static content is provided, it appears in facebook crawler. Any dynamic content coming from a http api never appears in the crawler.

[2018-07-25 19:24] kylecordes commented on #118
@bharath-holla Yes, we had to do what I wrote above. Server-side render the pages so that Facebook can pick up the fields. In our case it is very slowly changing content so we did server side pre-rendering on a schedule. If your data is changing frequently,instead you would do server-side rendering on demand. There's plenty to read about angular Universal to make this happen, but the net result is

[2018-07-26 04:05] bharath-holla commented on #118
@kylecordes,
Thanks, and even we found a similar solution yesterday. We modified server.ts to make a backend call and populated the index.html contents before issuing it to the renderer. And with that Facebook started to pickup the contents that renderer provided and tags started to appear in the FB Sharing Debugger. Thanks anyway.

[2018-08-21 08:57] leanpilar commented on #171
same issue here... and because only the homepage is not lazy, almost the entire ngx-meta is not working

[2018-08-30 12:10] yura-moryliak opened #185 "meta tags API call fails"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** 6.0.8

The reason i opened this issue, is that there is exist a small bug for programmatic setTag

Explanation:

When i'm callin

[2018-09-13 21:42] IzioDev opened #186 "meta doesn't get updated."
[code]

**Current behavior**
I'm using `ngx-core` and `ngx-meta`, setted up like this:
[code]
The issue is... Nothing happend, even the default part! 👎
**Expected/desired behavior**
If it's possible to explain why this is not working :/

**Minimal reproduction of the problem with instructions**
Copy-past my code.

**Environment**
* **Angular version:** 6.1.7

* **Browser:**
- [ x ] Chrome (desktop

[2018-09-29 16:45] SonicReal commented on #185
Same problem...

[2018-10-01 18:55] ishan123456789 commented on #118
HI, @bharath-holla  can you please share the changes you made in server.ts as I'm stuck with this issue for quite while now.

[2018-10-11 00:12] #186 closed, assigned to nobody

[2018-10-16 10:39] Constantinos-Impact commented on #53
Any updates on the issue?

[2018-11-12 17:08] visurel opened #187 "upgrade to Angular 7"

[2018-12-20 01:18] logan-jobzmall commented on #54
Another use case: I have a title component that sits at the top of the mobile version of my site. I have the translation service that sets the title dynamically. Would be nice to able to display that value on this component. I guess I will need to find another way.

EDIT: I am now just using `this.meta['title'].getTitle()`

[2018-12-21 09:05] lapongua commented on #187
I just upgraded my project from Angular 6 to 7 today, and it seems to work fine :-)
ngx-meta/core@6.0.0-beta.1
But I show some warnings:

[code]
Please update the package.json file to remove the dependency warnings.
Thanks.

[2018-12-24 16:56] #187 closed, assigned to fulls1z3

[2018-12-26 05:21] ma8h7er commented on #57
@shabbir-dhangot Same issue here. Everything works well on locale machine but does not work online. Have you found any solution ?
@fulls1z3 Please can you explain how to resolve the result at router level. For example I'm calling an API to get some pages after the route ends like this:
[code]
And after I get a response I set meta tags like your example in the docs.
Any help will be appreciated.

[2018-12-27 10:53] shabbir-dhangot commented on #57
I am using Title and Meta service of Angular. Find detail in below article.
Title Service : https://angular.io/guide/set-document-title
Meta Service : https://angular.io/api/platform-browser/Meta

[2019-01-03 06:01] aminsmartsense opened #188 "Not fetching meta tags in web master"
Package.json
"@ngx-meta/core": "^7.0.0",
"@angular/cli": "^6.2.1",
"typescript": "^2.9.2"

I have added meta tags in my project. When I am showing code using inspect element on that time all tags are showing but whenever I am open source code in new tab in that meta tags are not displaying. And also in my web master not fetching meta tags.

I have added code like this:
In my main module,

[code]

[2019-01-04 06:35] fulls1z3 commented on #188
in order to get meta tags visible (on the page source), you must use server-side rendering.

https://medium.com/burak-tasci/angular-4-with-server-side-rendering-aka-angular-universal-f6c228ded8b0

[2019-01-04 06:35] #188 closed, assigned to nobody

[2019-01-05 16:24] thecoconutstudio commented on #118
@bharath-holla @ishan123456789 I'm also stuck on this, please are you able to share your solution. My meta tags are showing fine when viewing page-source, but not coming through via Facebook.

[2019-01-05 16:31] ishan123456789 commented on #118
@thecoconutstudio not able to get it fixed for a while now. Really depressing problem.

[2019-01-07 11:09] bharath-holla commented on #118
@ishan123456789 @thecoconutstudio Somehow the emails got filtered out and I never observed these comments from both of you.

The below code is of course the most horrible hack, but it worked for me when no other solution on net was working. Till Angular team provides a fix, we decided to go with this.

Here's my partial code.
[code]

And in index.html, create template values as below:
[code]

[2019-01-10 08:49] rafa-suagu commented on #44
@fulls1z3 have you some news about this? If you want I can do a PR with this feature

[2019-01-10 15:00] rafa-suagu opened #189 "Make configurable callback exceptions"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Currently only two metas has the "exception" status, 'og:locale' and 'og:locale:alternate'

**Expected/desired behavior**
Configure the callback exceptions.

**What is the motivation / use case for changing the behavior?**
It's impossible or undesired, suppose or predict the metas that the projects wants to exclude from ca

[2019-01-10 15:01] rafa-suagu commented on #189
If you accept this suggestion and a PR is needed or wanted, I can do it.

[2019-01-13 05:46] logan-jobzmall opened #190 "Default fallback on null instead of error (unless not defined in configuration)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

If you set a tag to null, it errors out. `setTag('description', null)` or `setTag('og:description', null)`

**Expected/desired behavior**

If value set is null (backend returns undefined value, or something of that nature), the default in your configuration object should be chosen instead of erroring. Only error if that i

[2019-01-15 22:55] matbalazsi commented on #118
Depressing was a good word for it. Has anyone else found a working solution? If not, I'll look into the @bharath-holla (I would need to hack it further for it to work for my needs)
Thanks!

[2019-03-05 08:13] KANekT opened #191 "use with Angular i18n"
**I'm submitting a ...**  (check one with "x")
[code]
**Current behavior**
How use this component with https://angular.io/guide/i18n - it's possible ?

**Environment**
* **Angular version:** latest

[2019-04-02 12:57] jaythakur commented on #101
I have the same task to do. did you get your answer?

[2019-04-02 13:07] jaythakur opened #192 "Set dynamic meta tags to use api call"
Hello,

This is my code.

canActivate: [MetaGuard],
    data: {
      meta: {
        title: 'Home page',
        description: 'Description of the home page'
      }
    }
But i am confused about to set dynamic title and description.
I want to set a different title for every route. I call static API to get title and description.

How can I do this task? or do I need to create resolver?

please rep

[2019-04-15 07:25] stevesaw commented on #118
I am facing this problem as well. Anyone got a better working solution for this?

[2019-04-27 11:05] junaidbinsarfraz commented on #185
Same problem.
Any update on it ?

[2019-05-02 08:36] gbertoncelli commented on #19
Right now is there a workaround for this without using direct DOM interpolation in order to being compatible with Angular Universal?

[2019-05-13 19:43] maseranw commented on #118
@bharath-holla , can you please provide me with your source code?

[2019-06-02 13:03] KateDobrilko commented on #118
@bharath-holla's solution is really the best I've managed to find after 3 days of searching and experimenting with different solutions.  Thanks!

[2019-06-02 14:02] maseranw commented on #118
im still unable to implement it, can you provide will full server.ts  imports ?

[2019-07-22 12:16] mthomasson opened #193 "Allow use of ngx-meta in angular 8 project"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Using the current version generates warnings in the console:
[code]
**Expected/desired behavior**
Have a version tha points toward angular 8

**Minimal reproduction of the problem with instructions**

**What is the motivation/use case for changing the behavior?**
Want to upgrade an Angular 7 project to Angular 8.
**Environ

[2019-07-31 03:18] asterism612 opened #194 "Do you have any plan to apply for angular8?"
Do you have any plan to apply for angular8?

[2019-08-11 15:08] MikeG96 commented on #118
This it's mi PoC, I add validations for get the params, and I add a promise depending on params. I know this code can improve, but it's a PoC

[code]

[2019-08-12 22:35] rafa-suagu commented on #193
some news @fulls1z3 ?

[2019-08-24 06:01] bjornharvold commented on #193
Yes please

[2019-09-30 16:17] Ilyoskhuja commented on #118
@bharath-holla I changed my server.ts like your code but it  cant update meta tags, view source doesnt shows  new metatags value
![Screen Shot 2019-09-30 at 20 40 36](https://user-images.githubusercontent.com/30035451/65897000-b8cdc180-e3c7-11e9-8b6e-da330d6a2050.png)

[2019-09-30 16:26] MikeG96 commented on #118
Because, this is only for response in server-side

[2019-09-30 16:37] Ilyoskhuja commented on #118
@MikeG96 I want that when I get responce from backend api it will change meta tags and show in "view source page", my app showed changed metatags in "inspect" view, but in "view source page" doesnt changed, and in facebook or other messangers shows link without any updated metatags.

[2019-09-30 16:39] Ilyoskhuja commented on #118
Do you have any solution for shows updated meta tags on facebook or other messengers ?

[2019-09-30 16:58] MikeG96 commented on #118
This is an example of the "dirty solution" if you have your backend in JS https://github.com/fulls1z3/ngx-meta/issues/118#issuecomment-520235511

For Angular, you need update metas with a service, docs: https://angular.io/api/platform-browser/Meta

[2019-09-30 17:04] Ilyoskhuja commented on #118
@MikeG96  My backend asp.net core 2.1, I can update my meta tags but when I open  "view source page" from console it doesnt shows updated meta tags, and when i share my link in facebook also doesnt shows updated meta tags
![Screen Shot 2019-09-30 at 20 40 36](https://user-images.githubusercontent.com/30035451/65899935-3e547000-e3ce-11e9-983d-6267cc3b35b1.png)
![Screen Shot 2019-09-30 at 21 50 33](

[2019-10-10 13:16] Maryna-Yelakova commented on #194
Any updates?

[2019-10-24 07:14] ghost commented on #118
Worked as expected @MikeG96 @bharath-holla, was out of nowhere but this small forum helped me solve the nightmare of 2 days. Just to help @Ilyoskhuja, make sure you have the correct route setup in your server.ts file and also check if there are multiple res.send() or res.render() blocks in your app.get(*).

Thanks with regards,
Praveen Thirumurugan.

[2019-10-24 09:49] Ilyoskhuja commented on #118
I already fixed, my problem was in prerendering.

[2019-11-22 00:16] fulls1z3 commented on #194
fixed

[2019-11-22 00:16] #194 closed, assigned to nobody

[2019-11-22 00:16] fulls1z3 commented on #193
done

[2019-11-22 00:16] #193 closed, assigned to nobody

[2019-11-22 00:16] #191 closed, assigned to nobody

[2019-11-22 00:16] #192 closed, assigned to nobody

[2019-11-22 00:17] #190 closed, assigned to nobody

[2019-11-22 00:17] fulls1z3 commented on #189
@rafa-as sorry for the delay, had busy times. feel free to fire a PR and i'll approve.

[2019-11-22 00:19] #185 closed, assigned to nobody

[2019-11-22 00:19] #181 closed, assigned to nobody

[2019-11-22 00:19] #171 closed, assigned to nobody

[2019-11-22 00:20] #97 closed, assigned to nobody

[2019-11-22 00:20] #96 closed, assigned to nobody

[2019-11-22 00:21] #57 closed, assigned to nobody

[2019-11-22 00:21] #55 closed, assigned to nobody

[2019-11-22 00:21] #54 closed, assigned to nobody

[2019-11-22 00:21] #53 closed, assigned to nobody

[2019-11-22 00:21] fulls1z3 commented on #44
@rafa-as sorry for the delay, had busy times. feel free to fire a PR and i'll approve.

[2019-11-22 00:22] fulls1z3 commented on #19
@HighSoftWare96 sorry for the delay, had busy times. feel free to fire a PR and i'll approve.

[2019-12-17 03:10] rasyad commented on #118
i have the same exact problem as yours. I can update the meta tags, shown in inspector, but nowhere to be seen in view source (ctrl+u) how did you solve this?

[2019-12-17 04:25] Ilyoskhuja commented on #118
@rasyad You should check your prerendering code especially with backend part

[2020-01-01 12:41] d-koppenhagen commented on #44
Probably related to: https://github.com/angular/angular/issues/34605

[2020-01-24 09:06] rafa-suagu commented on #44
@d-koppenhagen are you working on a Link Service to do a PR to Angular project?

[2020-01-24 09:40] d-koppenhagen commented on #44
yes. The PR is already there: https://github.com/angular/angular/pull/34606

[2020-02-07 16:09] patrickmichalina opened #204 "Angular v9 support"

[2020-02-09 12:49] fulls1z3 commented on #204
agree! coming soon

[2020-03-17 20:24] kasius commented on #118
Has anyone solved this issue ?, managing to publish a link on facebook linkedin and that these platforms recognize the og tags corresponding to each route?

[2020-03-18 10:12] honey-system opened #206 "The title does not display correctly in the browser history"
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Support request
[ ] Feature request
[ ] Documentation issue or request

When switching between routers, the title is reset to the default one, and **the title set in the settings is saved in the browser history.**
Need to save in history the title set programmatically, via this.meta.setTitle('Cust

[2020-04-10 15:45] jtammen commented on #204
@fulls1z3 Are you aware of anything that does NOT work with Angular 9 at the moment?

[2020-04-27 12:39] rafa-suagu commented on #204
@fulls1z3 do you accept PR about this?

[2020-04-27 21:04] fulls1z3 commented on #204
https://github.com/fulls1z3/ngx-meta/pull/207

[2020-04-27 21:04] #204 closed, assigned to nobody